@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni&family=Lobster+Two&family=Open+Sans:wght@300;400&family=Poppins:wght@300;400&family=Raleway&family=Roboto:wght@300&family=Ubuntu:wght@300;400&family=Varela+Round&family=Zen+Dots&display=swap");
body {
  position: relative;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
/* page loader */
#loading {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 1;
  background-color: white;
  z-index: 99;
}
#loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150x;
  height: 150px;
  z-index: 100;
  transform: translate(-50%, -50%);
}
.btn-light {
  background-color: #f1f1f1;
  border-radius: 0;
}
/*------------------------ navbar */
nav.navbar {
  padding: 0px;
  z-index: 1;
}
nav .navbar-brand {
  padding: 15px;
  letter-spacing: 4px;
  font-size: 15px;
  color: black;
}
nav .navbar-brand:hover {
  background-color: rgb(205, 199, 199);
}
nav .navbar-toggler {
  padding: 15px;
  border: none;
  border-radius: 0px;
  color: black;
}
nav .navbar-toggler:hover {
  background-color: rgb(205, 199, 199);
}
nav .navbar-toggler:focus {
  box-shadow: none;
}
nav .navbar-toggler .navbar-toggler-icon {
  padding: 0px;
  font-size: 15px;
}
nav .nav-link {
  display: inline-flex;
  padding: 15px !important;
  font-size: 15px !important;
  color: black;
  width: 100%;
}
nav .nav-link:hover {
  background-color: rgb(205, 199, 199);
}
/* -----------------offcanvas */
.offcanvas.offcanvas-start {
  width: 200px;
}
#closeOffCanvas {
  display: none;
}
/* header */
section header {
  background-image: url(images/header-image.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100%;
}
header .btn {
  border-radius: 0;
}
.socialMediaIcons {
  color: white;
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.2s ease;
}
.socialMediaIcons:hover {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.1);
}
/*---------- about company */
.card .featuresIcon {
  font-size: 64px;
  text-align: center;
}
/* we know design */
#vowBtn {
  background-color: black;
  color: white;
  border-radius: 0;
  transition: all 0.5s ease;
}
#vowBtn:hover {
  background-color: #ccc;
  color: black;
}
/* ----------our work */
div.ourWork img:hover {
  opacity: 0.5;
  cursor: pointer;
}
/* modal - our work */
.modal .modal-content {
  background-color: black;
  color: white;
}
.modal .modal-header {
  border-bottom: 0px;
  padding: 0px;
}
.modal .btn-close {
  background: none;
  color: white;
  padding: 16px;
  opacity: 1;
}
.modal .btn-close:hover {
  background-color: grey;
}
/* our skills */
.ourSkilss .progress {
  border-radius: 0;
}
/* pricing */
.pricing .card .list-group:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.pricing .cards .card {
  border-radius: 0;
}
.pricing .card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pricing .card .btn {
  border: none;
  border-radius: 0;
  padding: 12px 24px;
}
.pricing .card .btn-dark:hover {
  background-color: #ccc;
  border: none;
  color: black;
}
/*--------- contact */
.contact .btn-dark {
  border: none;
  border-radius: 0;
  padding: 12px 24px;
}
.contact .btn-dark:hover {
  background-color: #ccc;
  border: none;
  color: black;
}
/* footer */
.footer a {
  padding: 12px 24px;
  background-color: white;
  color: black;
  border-radius: 0;
}
.footer .btn-outline-secondary:hover {
  color: black;
  background-color: #ccc;
}
@media only screen and (max-width: 991px) {
  #loading-image {
    width: 120px;
    height: 120px;
  }
}
@media only screen and (max-width: 767px) {
  #loading-image {
    width: 100px;
    height: 100px;
  }
}
@media only screen and (max-width: 575px) {
  #loading-image {
    width: 80px;
    height: 80px;
  }
}
